<nav class="navbar navbar-dark navbar-expand-lg">
    <!-- TODO: Make brand part of template -->
    <a class="navbar-brand" href="#">OWASP Threat Dragon</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            <!-- TODO: Make these part of the theme template-->
            <li class="nav-item">
                <a href="https://threatdragon.org/" target="_blank">
                    <i class="fa fa-flask fa-lg"></i> Try the web app
                </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/OWASP/threat-dragon-desktop/releases" target="_blank">
                    <i class="fas fa-cloud-download-alt fa-lg"></i> Download the desktop app
                </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/OWASP/threat-dragon" target="_blank">
                    <i class="fab fa-github fa-lg"></i> Visit us on GitHub
                </a>
            </li>
        </ul>
    </div>
</nav>