@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

nav {
    background-color: $orange;
}

#navbarToggler a
{
    color: $white;
    padding: 18px
}

@include media-breakpoint-up(lg) {
    #navbarToggler a:hover {
        background-color: $dark-orange;
        text-decoration: none;
    }
}